.tabulka {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.a {
  margin-bottom: 10px;
}
.tlacitka {
  margin-left: 50px;
  margin-right: 50px;
}
.txt {
  padding-top: 20px;
}
.datum {
  margin-left: 725px;
}

@media only screen and (min-width: 900px) {
  .a {width: 100%};
}
