.wrapper {
 margin-top: 80px;
 margin-bottom: 20px;
}

.form-signin {
 max-width: 420px;
 padding: 30px 38px 66px;
 margin: 0 auto;
 background-color: #eee;
 border: 3px dotted rgba(110,110,110,1);
 }

.form-signin-heading {
 text-align:center;
 margin-bottom: 30px;
}

.form-control {
 position: relative;
 font-size: 16px;
 height: auto;
 padding: 10px;
}

input[type="text"] {
 margin-bottom: 0px;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}

input[type="password"] {
 margin-bottom: 20px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}

.colorgraph {
 height: 7px;
 border-top: 0;
 background: #c4e17f;
 border-radius: 5px;
 background-image: -webkit-linear-gradient(left, #222222, #222222 12.5%, #ff1500 12.5%, #ff1500 25%, #222222 25%, #222222 37.5%, #ff1500 37.5%, #ff1500 50%, #222222 50%, #222222 62.5%, #ff1500 62.5%, #ff1500 75%, #222222 75%, #222222 87.5%, #ff1500 87.5%, #ff1500);
 background-image: -moz-linear-gradient(left, #222222, #222222 12.5%, #ff1500 12.5%, #ff1500 25%, #222222 25%, #222222 37.5%, #ff1500 37.5%, #ff1500 50%, #222222 50%, #222222 62.5%, #ff1500 62.5%, #ff1500 75%, #222222 75%, #222222 87.5%, #ff1500 87.5%, #ff1500);
 background-image: -o-linear-gradient(left, #222222, #222222 12.5%, #ff1500 12.5%, #ff1500 25%, #222222 25%, #222222 37.5%, #ff1500 37.5%, #ff1500 50%, #222222 50%, #222222 62.5%, #ff1500 62.5%, #ff1500 75%, #222222 75%, #222222 87.5%, #ff1500 87.5%, #ff1500);
 background-image: linear-gradient(to right, #222222, #222222 12.5%, #ff1500 12.5%, #ff1500 25%, #222222 25%, #222222 37.5%, #ff1500 37.5%, #ff1500 50%, #222222 50%, #222222 62.5%, #ff1500 62.5%, #ff1500 75%, #222222 75%, #222222 87.5%, #ff1500 87.5%, #ff1500);
}

.falseLog {
 padding-left: 20px;
 padding-right: 20px;
 margin-left: 20px;
 margin-right: 20px;
}
