.mojeZontainer {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.sloupce {
  margin-bottom: 40px;
}
.txt {
  margin-top: 40px;
  margin-bottom: 16px;
}

.na {
  cursor: not-allowed;
}
.odpoved {
  margin-top: 40px;
}

.alert {
  margin-left: 40px;
  margin-right: 40px;
}
.datum {
  margin-left: 725px;
}
